<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
        <h1 class="home-title">Welcome to Tile Match 3 – Puzzle Game!</h1>
        <p class="home-text">Relax. Match. Think.</p>
        <p class="home-text-two">It's this weird mix of chill and challenging - like, I can zone out but still need to actually use my brain Like when
        you wanna chill but don't want your brain to completely turn off. Match 3 of the same tiles to clear the board and beat
        the level!</p>
        <a class="home-link" href="https://play.google.com/store/apps/details?id=com.playcity.tile.match3.puzzle.game&hl=en&gl=us">
            <img class="home-icon" src="/img/home/icon.png" alt="icon" loading="lazy">
            <p>Play Now</p>
        </a>
    </div>
             <picture>
                <source srcset="
                            /img/home/desk.png 1x,
                            /img/home/desk@2x.png 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                            /img/home/mob.png 1x,
                            /img/home/mob@2x.png 2x
                            " media="(max-width: 1439px)" />
                <img src="/img/home/mob.png" alt="Sliding Puzzle" loading="lazy" />
            </picture>   
    </div>
</section>