body{
  font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    color: #45556c;
}
h2{
  font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: -0.06em;
    text-align: center;
    color: #074ca5;
    margin-bottom: 5px;
}
@media only screen and (min-width: 1440px) {
  body{
    font-size: 18px;
  }
  h2{
    font-size: 48px;
  }
}