.cookie-popup {
    position: fixed;
    bottom: 40px;
    left: 48%;
    transform: translateX(-48%);
border-radius: 40px;
    width: 339px;
    height: 474px;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        background: linear-gradient(135deg, #bfdbff 0%, #9dd6ff 100%);
    z-index: 1000;
    padding: 26px 11px;
    display: none;
}

.popup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cookie-class {
font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #000;
    margin-top: 16px;
}


.cookie-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
width: 267px;
    height: auto;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}

.btn-accept {
background: #000;
border-radius: 40px;
    width: 267px;
    height: 50px;
    box-sizing: border-box;
    border: none;
font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: #fff;

}

.btn-decline {
border: 2px solid #000;
    border-radius: 40px;
    width: 267px;
    height: 50px;
font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: #000;
    box-sizing: border-box;
    background-color: inherit;
}


@media screen and (min-width: 1439px) {
    .cookie-popup {
width: 814px;
    height: 529px;
    padding: 26px 31px;
    }


    .cookie-class {
margin-top: 30px;
font-size: 38px;
    }

    .cookie-buttons {
        flex-direction: row;
        width: 740px;
gap: 22px;
        justify-content: center;
margin-top: 50px;
    }
.btn-accept{
    width: 352px;
    height: 71px;
    font-size: 28px;
}
.btn-decline{
    width: 352px;
    height: 71px;
    font-size: 28px;
}
}