.header {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
border: 1px solid #f3e8ff;
  border-radius: 33554400px;
  padding: 0px 0px 1px;
  width: 339px;
  height: 63px;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.header-container {
  padding: 12px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
width: 88px;
  height: 39px;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 121px;
  width: 28px;
  height: 28px;
  margin-left: auto;
  background-color: inherit;
    position: relative;
      z-index: 1100;
}

.navigation-list {
  display: none;
}

/* Modal */
/* overlay */
.mobile-menu {
  position: fixed;
  inset: 0;
  /* top:0 left:0 right:0 bottom:0 */
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: all 0.3s ease;

  z-index: 900;
  /* ВИЩЕ за header */
}

/* активний стан */
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
}


.menu-item {
  font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
  
    /* line-height: 20px; */
    line-height: 1;
    color: #314158;
  transition: transform 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
  transform: scale(1.05);
}


@media screen and (min-width: 1440px) {
  .header {
width: 1066px;
  height: 66px;
  }

  .header-container {
    padding: 5px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
.header-logo {
width: 126px;
  height: 56px;
}
  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.42857;
      color: #314158;
    transition: transform 0.3s ease-in-out;
  }

  .navigation-item:hover {
    transform: scale(1.05);
  }

  .navigation-item:focus,
  .navigation-item.active {
    transform: scale(1.05);

  }

}